.container {

	width: 1000px;
	margin: 0 auto;
}

.row {

	clear: both;
}


.column-fourth,
.column-half,
.column-three-fourth ,
.column-third,
.column-two-thirds{

margin-right: 20px;
float: left;

}


.column-fourth:last-child , 
.column-half:last-child, 
.column-three-fourth:last-child,
.column-third:last-child,
.column-two-thirds:last-child
 {

	margin-right: 0;
	 

}

.column-fourth {

	width: 235px;
	


}


.column-half {
 
	width: 490px;

}

.column-three-fourth {
	
	width: 745px;
	 

}

.column-third {

	width: 320px;
}
.column-two-thirds {
	
	width: 660px;

}